<div class="center border-solid flex">
  <div class="text-center">
    <h2 class="heading-2 text-bold">{{ title }}</h2>
    <p>{{ description }}</p>
  </div>

  <form [formGroup]="bookingForm" (ngSubmit)="onFormSubmit(bookingForm.value)">
    <div class="mx-3">
      <app-ba-input
        class="d-flex"
        label="Booking code"
        id="bookingCode"
        name="bookingCode"
        [hasFeedback]="validate(bookingCode)"
      ></app-ba-input>
      <app-ba-input
        class="d-flex"
        label="Last name"
        name="lastName"
        id="lastName"
        [hasFeedback]="validate(lastName)"
      ></app-ba-input>
    </div>
    <div class="d-flex">
      <button type="submit" class="button">Retrieve booking</button>
    </div>
  </form>
</div>
