<div *ngIf="bookingData.bookingCode; else error" class="center flex">
  <h2>
    Hello {{ bookingData.passengers.firstName | titlecase }}
    {{ bookingData.passengers.lastName | titlecase }}
  </h2>
  <h3>Here are your booking details</h3>
  <p>
    Origin: {{ bookingData.itinerary.connections[0].origin.name }}
    {{ bookingData.itinerary.connections[0].origin.city.name }}
    {{ bookingData.itinerary.connections[0].origin.city.country.name }}
  </p>
  <p>
    Destination airport:
    {{ bookingData.itinerary.connections[0].destination.name }}
    {{ bookingData.itinerary.connections[0].destination.city.name }}
    {{ bookingData.itinerary.connections[0].destination.city.country.name }}
  </p>
</div>
<ng-template #error><div class="center flex text-center">No data found.</div></ng-template>
