@import "mixins";
@include resetMixin;
@include d-block;
@include d-flex;
@include border-solid;
@include flex;

@import "spacing";
@include mx-3;
@include pb-1;
@include pt-1;
@include px-2;
@include text-center;
@include center;
@include full-width;

@import "fonts";
@include font-family;
@include font-base-color;
@include text-bold;
@include heading-1;
@include heading-2;

@import "button";
@include button;

body {
  @include d-flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
